name: Check Code
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

jobs:
  check-code:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20, 22, 23, 25]
    name: Check Code (Node ${{ matrix.node }})

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - run: npm ci
      - run: npm run check-code
      - run: npm run check-samples
